* {
  font-family: Vazir, sans-serif;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
span,
ul,
li,
div,
label,
tr,
th,
td,
.form-control {
  font-family: Vazir, sans-serif !important;
  letter-spacing: 0 !important;
}

a {
  -webkit-transition: all 250ms !important;
  -o-transition: all 250ms !important;
  transition: all 250ms !important;
}

.navbar .container-fluid {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.navbar .nav-link:hover {
  color: black !important;
}

.card .card-body .heading-small {
  text-align: center;
}

.card .card-body .cat-list p {
  text-align: center;
}

.card .card-body .cat-list .table-responsive {
  overflow-y: unset !important;
  padding-bottom: 20px;
}

.card .card-body .cat-list .table-responsive thead th {
  text-align: center;
  font-weight: 500;
  color: #4a535e;
}

.card .card-body .cat-list .table-responsive .dropdown .btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  color: #313437 !important;
}

.card .card-body .cat-list .dropdown-menu {
  -webkit-transform: translate3d(0, -50px, 0) !important;
          transform: translate3d(0, -50px, 0) !important;
  -webkit-box-shadow: 0 5px 20px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card .card-body .post-create #preview {
  max-width: 100%;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.alert {
  text-align: center !important;
  font-family: Vazir, sans-serif;
  font-size: 16px;
  border-radius: 50px;
}

