$green: #0dff82;
$blue: #20c5ba;
$gray: #ededed;
$font: "Roboto", Vazir, sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);

@media screen and (min-width: 700px) {
    .large-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .small-group {
        width: 45%;
    }

    form {
        padding-left: 50px;
        padding-right: 50px;
    }
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: $font;
}

input {
    padding: 10px 16px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 0;
    background-color: $gray;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    font-family: $font;
}

.textarea-div {
    width: 100%;
}

textarea {
    padding: 15px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 0;
    background-color: $gray;
    font-size: 16px;
    height: 150px;
    resize: none;
    font-family: $font;
}

.btn {
    background-color: $green;
    padding: 12px 15px;
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    font-family: $font;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: 0.3s all ease;
    transform: translateX(50%);

    &:hover {
        background-color: $blue;
        color: white;
    }
}
