---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fa">
<![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html class="no-js lt-ie9 lt-ie8" lang="fa">
<![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class="no-js lt-ie9" lang="fa">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fa">
<!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
{% include first_body.html %}
{% include_cached nav.html %}
<!-- Header -->
<header class="header" role="banner">
    <div class="wrapper animated fadeIn">
        <div class="content">
            <div class="post-title">
                <h1>{{ page.title }}</h1>
                <a class="btn zoombtn" href="{{ site.url }}" style="border-radius: 15px;">
                    <i class="fa fa-home"></i>
                </a>
            </div>
            <div class="post-list" dir="rtl">
                <ul>
                    {% for post in site.posts %}
                    {% if post.project == null %}
                    <li class="wow fadeInRight" data-wow-duration="1.5s">
                        <a class="zoombtn" href="{{ site.url }}{{ post.url }}" style="float: right">{{ post.title }}</a>
                        <br>
                        <p style="text-align: justify; text-align-last: right">{{ post.excerpt }}</p>
                        <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn"
                           style="border-radius: 15px;">ادامه مطلب</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>
{% include_cached scripts.html %}
<script src="{{ site.url }}/assets/js/wow.min.js"></script>
<script type="text/javascript">(new WOW).init();</script>
{% include footer.html %}
</body>
</html>
