---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fa">
<![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html class="no-js lt-ie9 lt-ie8" lang="fa">
<![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class="no-js lt-ie9" lang="fa">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fa">
<!--<![endif]-->
{% include head.html %}
<style>
    .bar {
        height: 3px !important;
        background-color: #FF4136 !important;
        box-shadow: 0 0 10px 0 rgba(255, 65, 54, 0.75);
    }
</style>
<body>
{% include first_body.html %}
{% include_cached nav.html %}
<header class="header" role="banner">
    <div class="wrapper animated fadeIn">
        <div class="content">
            <div class="post-title {% if page.feature %} feature {% endif %}">
                <h1 style="direction: rtl">
                    {{ page.title }}
                </h1>
                <h4>{{ page.date | pdate }}</h4>
                {% if site.reading_time and page.project == null %}
                <p class="reading-time" style="direction: rtl">
                    <i class="fa fa-clock-o"></i>
                    {% include_cached read-time.html %}
                </p>
                {% endif %}
                {% if page.project %}
                <a class="btn zoombtn" href="{{ site.url }}/projects/" style="border-radius: 15px;">
                    <i class="fa fa-chevron-left"></i>
                </a>
                {% else %}
                <a class="btn zoombtn" href="{{ site.url }}/posts/" style="border-radius: 15px;">
                    <i class="fa fa-chevron-left"></i>
                </a>
                {% endif %}
            </div>
            <div dir="rtl">
                {{ content }}
            </div>
            {% if page.project %}
            <h2>لینک ها</h2>
            {% endif %}
            <div class="entry-meta">
                {% if page.project == null %}
                {% if page.source %}
                <h4>
                    <span>منبع : </span>
                    {{ page.source }}
                </h4>
                {% endif %}
                {% else %}
                <h4>
                    <span>منبع : </span>
                    <a href="{{ page.source }}" target="_blank">
                        {{ page.source }}
                    </a>
                </h4>
                <h4>
                    <span>وب سایت : </span>
                    <a href="{{ page.website }}" target="_blank">
                        {{ page.website }}
                    </a>
                </h4>
                {% if page.source_android %}
                <h4>
                    <span>اندروید : </span>
                    <a href="{{ page.source_android }}" target="_blank">
                        {{ page.source_android }}
                    </a>
                </h4>
                {% endif %}
                {% endif %}
                {% include meta.html %}
            </div>
        </div>
    </div>
    {% if page.comments %}
    <div class="wrapper animated fadeIn">
        <div class="content">
    <form name="comments" data-netlify="true" method="post" netlify-honeypot="bot-field" action="https://api.staticman.net/v3/entry/hatamiarash7/MyWebSite/master/comments">

        <input name="slug" hidden type="hidden" value="{{ page.slug }}">

        <label for="name" >Name</label>
        <input name="name" id="name" type="text" required>

        <label for="email" class="c-lh-title db f7 c-lh-title mb1">Email</label>
        <input name="email" id="email" type="email"  required>

        <label for="message" class="c-lh-title db f7 c-lh-title mb1">Comment</label>
        <textarea name="message" id="message" required></textarea>

        <div hidden class="clip">

            <label for="hp" class="c-lh-title db f7 c-lh-title mb1">Complete this if you don't want your comment to appear</label>
            <input name="bot-field" id="hp" type="text" class="mb3 pa1 ba b--moon-gray border-box w-100 w-50-l">

        </div>

        <button class="db pa2 ba b--moon-gray br1 bg-blue hover-bg-dark-blue white pointer" type="submit">Submit comment</button>

    </form>
        </div>
        </div>
    {% endif %}
</header>
{% include_cached scripts.html %}
<script src="{{ site.url }}/assets/js/prognroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("body").prognroll();
    });
</script>
{% include footer.html %}
</body>
</html>
